
body {
	margin-top: 0pt;
	margin-bottom: 0pt;
	min-height: 101vh;
	display: flex;
	flex-direction: row;
}

div.col {
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

div.center-col {
	max-width: 1000px;
}

div.background {
	margin: 0pt -8px;
	background-color: lightgray;
	padding: 8px;
	flex: auto;
	width: 100%;
}

h1 {
	margin-left: 30px;
}

div.row {
	margin: 15px 0pt;
}

div.error {
	margin: 75px 100px;
	padding: 30px;
	background-color: rgb(255, 128,128);
	font-weight: bold;
	border: thick;
	border-style: solid;
	border-color: red;
}

div.msg {
	margin: 50px 50px;
	padding: 15px;
	background-color: rgb(255,255,200);
	border: thick;
	border-style: solid;
	border-color: yellow;
}
